<h1 mat-dialog-title>Filter Year</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" style="padding: 10px;width: 300px;">
    <mat-label>Select Year</mat-label>
    <div [formGroup]="range">
      <mat-select formControlName="year">
        <mat-option>None</mat-option>
        <mat-option value="2015">2015</mat-option>
        <mat-option value="2016">2016</mat-option>
        <mat-option value="2017">2017</mat-option>
        <mat-option value="2018">2018</mat-option>
        <mat-option value="2019">2019</mat-option>
        <mat-option value="2020">2020</mat-option>
        <mat-option value="2021">2021</mat-option>
        <mat-option value="2022">2022</mat-option>
        <mat-option value="2023">2023</mat-option>
        <mat-option value="2024">2024</mat-option>
        <mat-option value="2025">2025</mat-option>
        <mat-option value="2026">2026</mat-option>
      </mat-select>
    </div>
  </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="range.value" cdkFocusInitial>OK</button>
</div>
