<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 overflow-hidden bg-primary-800 dark:bg-gray-700 text-white">
        <!-- Background -->
        <svg class="absolute top-0 left-0 w-full h-240 pointer-events-none text-accent-100 dark:text-gray-900"
            viewBox="0 0 1531 891" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-current opacity-10"
                d="M0 182c144.327 47.973 534.462 219.712 440.509 369.87C346.555 702.028 79.877 662.846 0 638V182z">
            </path>
            <path class="fill-current opacity-10"
                d="M1405 848c-424.366 158.009-437-164-437-272s102-425 563-576v769c-21.333 29.333-63.333 55.667-126 79z">
            </path>
            <path class="fill-current opacity-10"
                d="M1531 162c-122.914-17.284-377.96 33.191-543.433 206.414C822.095 541.636 797.342 648.75 835.842 731.622c38.5 82.871 198.243 134.841 400.555 92.053C1438.71 780.886 1492.752 775.894 1531 768V162z">
            </path>
        </svg>
        <!-- Content -->
        <div class="w-full max-w-md">
            <div class="text-2xl items-center" style="text-align: center;">
                <div class="left-el">
                    <img src="assets/logo.svg" width="150" alt="">
                    <h2><strong>Account Services Admin</strong></h2>
                    
                </div>

            </div>
         
        </div>
    </div>
    <div
        class="md:flex md:items-center md:justify-start w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-lg md:rounded-none sm:shadow-md md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
          

            <!-- Alert -->
            <treo-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </treo-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input id="email" matInput [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                 
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                

                <!-- Submit button -->
                <button class="treo-mat-button-large w-full mt-6 bg-primary-800 text-white" mat-flat-button [color]="'accent'"
                    [disabled]="signInForm.disabled" (click)="signIn()">
                    <span *ngIf="signInForm.enabled">
                        Sign in
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

               
            </form>
        </div>
    </div>
</div>