<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <!--Searchbar-->
            <div style="width: 60%;">
                <mat-form-field class="example-full-width">
                    <span matPrefix> </span>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" name= "search" [(ngModel)]= "search">
                    <button matSuffix mat-button><mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon></button>
                </mat-form-field>
            </div>
            <!---Buttons-->
            <div class="flex items-center ml-6" style="width: 40%;">
                <button mat-button class="hidden sm:inline-flex" (click)="exportexcel()" mat-stroked-button >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:download'"></mat-icon>
                    <span class="ml-2">Download</span>
                </button>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">
            <!-- Recent table -->
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="p-6">
                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Secondary Accounts</div>
                    <div class="text-secondary font-medium">A summary of all customers</div>
                </div>
                <div class="overflow-x-auto mx-6">
                    <table 
                    class="w-full bg-transparent" 
                    mat-table matSort 
                    [dataSource]="recentDataSource"
                    *ngIf="recentDataSource"
                         #recentTable>
                         <!-- [trackBy]="trackByFn" -->
                        
                        <ng-container matColumnDef="accountName">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Account Name
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{data.accountName}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountNumber">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Account Number
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{data.AccountNumber}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="accountType">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Account Type
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{data.accountType}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Currency">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Currency
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{data.Currency}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edabled">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Enabled/disabled
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    <mat-slide-toggle>Enabled</mat-slide-toggle>
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Action
                            </th>
                            <td mat-cell *matCellDef="let data">
                                <div class="ml-auto -mt-2">
                                    <button mat-icon-button [matMenuTriggerFor]="currentStatementMenu">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                    </button>
                                    <mat-menu #currentStatementMenu="matMenu">
                                        <button mat-menu-item (click)="openDialog()">
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:eye'">
                                                </mat-icon>
                                                <span>View</span>
                                            </span>
                                        </button>
                                        
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        

                        <tr mat-header-row *matHeaderRowDef="recentTableColumns"></tr>
                        <tr class="order-row h-16" mat-row
                            *matRowDef="let row; columns: recentTableColumns;"
                            
                            (click)="onClickRow(row)"
                            ></tr>
                    </table>
                    <div *ngIf="!recentDataSource" style="text-align: center;">
                        <span class="wrapper center">
                        <mat-progress-spinner [diameter]="100" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        </span>
                      </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    [length]="totalItems"
                            [pageSize]="10"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>

    </div>

</div>
