<div class="container" >

    <div class="card">
        <button (click)="onNoClick()" class="close" title="Close Modal" style="float:right;font-size: 20px;">&times;</button>
        <!-- *ngIf="viewgroups" -->
        
        
        <div class="card-body items-center">
            <div class="header text-2xl" >
                <h1 class="font-bold" style="padding: 10px;">Dialog</h1>
                
                <mat-divider style="padding: 10px;"></mat-divider>
            </div>
            <div *ngIf="data" class="details items-justify">
                <div class="row">
                    <div class="column">
                      <div class="row">
                        <div class="column" style="width: 150px;">
                          <label for="bname" ><b>Position No</b></label>
                        </div>
                        <div class="column" style="width: 150px;">
                          {{data.position}}
                        </div>
                      </div>
                      
                      
                    </div>
                    <div class="column">
                        <div class="row">
                          <div class="column" style="width: 150px;">
                            <label for="bname" ><b>Name</b></label>
                          </div>
                          <div class="column" style="width: 150px;">
                            {{data.name}}
                          </div>
                        </div>
                        
                        
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="column">
                      <div class="row">
                        <div class="column" style="width: 150px;">
                          <label for="bname" ><b>Weight</b></label>
                        </div>
                        <div class="column" style="width: 150px;">
                            {{data.weight}}
                        </div>
                      </div>
                      
                      
                    </div>
                    <div class="column">
                        <div class="row">
                          <div class="column" style="width: 150px;">
                            <label for="bname" ><b>Symbol</b></label>
                          </div>
                          <div class="column" style="width: 150px;">
                            {{data.symbol}}
                          </div>
                        </div>
                        
                        
                      </div>
                  </div>
                  <br>

            </div>



        </div>
    </div>


</div>




